p {
  color: white;
  font-weight: bold;
}

span {
  font-weight: normal;
}

body {
  color: white;
  background-color: black;
}

*,
*::after,
*::before {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  cursor: default;
}

/* body {
  user-select: none;
} */
